[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ptpython = "*"

[packages]
pyserial = "*"
pysher = "*"
qrcode = "*"
pillow = "*"

[requires]
python_version = "3.6"
